{% load staticfiles %}

<link rel="stylesheet" type="text/css" hef="{% static 'quizes/style.css' %}" />


{% if quizes %}
   <ul>
   {% for quiz in quizes %}
      <li><a href="{% url 'takeQuiz' quiz.id %}">
      	     {{ quiz.name }} <br> {{ quiz.description }}
	     </a></li>
      <br>
   {% endfor %}
   </ul>
{% else %}
   <p>No quizes are available</p>
{% endif %}

{% if error %}
   {% if error == 'QuizNotFinished' %}
      <p> You already started another quiz. If you want to start a new quiz click
      	  <a href="{% url 'startNewQuiz' %}">here</a>, but you will lose all progress on
	  your current <a href="{% url 'continueQuiz' %}">quiz.</p>
   {% else %}
      <p> Something went wrong.</p>
   {% endif %}
{% endif %}