

Quiz: {{ quiz.name }} <br><br>

<form action="{% url 'takeQuiz' quiz.id %}" method="post" >
{% csrf_token %}
{% if questions %}
   <ul>
   {% for question in questions %}
      <li>Question {{ question.0 }}: {{ question.1 }}
      <br>
      {% for choice in question.2 %}
         <input type="radio" name="{{ choice.2 }}" value="{{ choice.1 }}"
	 {% if choice.3 %} checked {% endif %}
	 />{{ choice.0 }} {{ choice.3 }}<br>
      {% endfor %}
      </li>
      <br>
   {% endfor %}
   </ul>
{% else %}
   <p> There are no questions on this page </p>
{% endif %}

<br>
{% if not_all_questions_answered %}
   <p id="red"> Please answer all the questions </p><br>
{% endif %}

{% if has_previous_page %}
   <input type="submit" name="previous" value="Previous Page"/>
{% endif %}
Page {{ pageNumber }}
{% if has_next_page %}
   <input type="submit" name="next" value="Next Page"/>
{% else %}
   <input type="submit" name="finish" value="Finish"/>
{% endif %}
</form>
<br><br>
<a href="{% url 'home' %}"> Go back to quizes </a>